body {
    font-family: Arial, sans-serif;
    direction: rtl;
    /* כיוון טקסט מימין לשמאל */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ממרכז את התוכן */
}

#login-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

#menu-toggle {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

#sidebar {
    width: 0;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #49124e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a,
#mid a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover,
#mid a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    cursor: pointer;
}

#mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* יוצר שתי עמודות */
    gap: 20px;
    /* מרווח בין הקטגוריות */
    margin: 60px 0;
    /* מרחק מהכותרת ומתחתית הדף */
}

#content {
    width: 80%;
    max-width: 1200px;
    /* מגביל את רוחב התוכן */
    margin: 20px auto;
    /* ממרכז ויוצר מרווחים מסביב */
}