body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #6A0DAD; 
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #6A0DAD; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4E089B; 
}

#contactForm {
    display: none;
}

#contactForm select,
#contactForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitBtn:hover {
    background-color: #0056b3; 
}
.categories {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.categories li {
    margin: 5px;
}

.categoryButton {
    padding: 10px 20px;
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categoryButton:hover {
    background-color: #4E089B;
}

#categoryList {
    list-style-type: none;
    padding: 0;
}

.categoryItem {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categoryItem:hover {
    background-color: #e0e0e0;
}


.reply-text {
    color: #000000;
    font-weight: bold;
}

.categoryItem.active {
    background-color: #a964f3; 
}
